@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #787A91;
}

.bold {
	font-weight: 700;
}

.text-white {
	color: #fff;
}

.text-blue {
    color: #1C3879;
}

.text-justify {
    text-align: justify;
}

.button-blue {
    border: 1px solid #1C3879;
    color: #1C3879;
    background-color: #fff;
}

.button-blue:hover {
    background-color: #1C3879;
    color: #fff;
}

footer {
    background-color: #172b33;
}